/* Override table tr colour */
.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #343d3d;
}

html {
  $bgc: #070707;
  $ncrosses-bgi: "data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23161616' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E";  

  background-color: $bgc;
  background-image: url($ncrosses-bgi);
}

body {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 24px;
  }
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#navbar-container,#body-container {
  max-width: 960px !important;
}
a {
  color: #00B7FF;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p {
  margin: 5px;
}
/* #eclock-card {
  max-width:300px;
  margin:0 auto;
} */
/* Clock transform toggle */

#transformToggle {
  label {
    &:first-of-type {
      input {
        background-color: #000;
      }
    }
    &:last-of-type {
      cursor: pointer;
      font-size: 1.3em;
    }
  }
  margin-bottom: 0;
  display: block;
  position: absolute;
  top: -2em;
  padding: .75rem 1rem;
}
#title1 {margin-right: 0.2em;}
.pr-0 {padding-right: 0 !important;}
.pl-0 {padding-left: 0 !important;}
.pr-1 {padding-right: 0.25rem !important;}
.pl-1 {padding-left: 0.25rem !important;}
.pr-2 {padding-right: 0.5rem !important;}
.pl-2 {padding-left: 0.5rem !important;}
.pr-4 {padding-right: 1rem !important;}
.pl-4 {padding-left: 1rem !important;}
.pt-0 {padding-top: 0rem !important;}
.pt-2 {padding-top: 0.5rem !important;}
.pt-4 {padding-top: 1rem !important;}
.mt-4 {margin-top: 1rem !important;}

.transform {
  animation: txtColor 5s infinite linear;
}
/* Text animation */
@keyframes txtColor {
  12.5% {
    color: #FF0000;
  }
  25% {
    color: #FFA500;
  }
  37.5% {
    color: #FFFF00;
  }
  50% {
    color: #7FFF00;
  }
  62.5% {
    color: #00FFFF;
  }
  75% {
    color: #0000FF;
  }
  87.5% {
    color: #9932CC;
  }
  100% {
    color: #FF1493;
  }
}
.vcenter {
  vertical-align: middle !important;
}
.price {
  color: #ffffda;
}
.item-icon {
  max-width: 32px;
  max-height: 32px;
}
#housing-data table thead th:first-child {
  width: 64px;
}
#housing-data table tbody tr {
  height:48px; /* item-icon+24 */
}
#housing-card {
  height: 147px; /* match clock card */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(39, 39, 39);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 275%;

  img {
    width: 100%;
    height: 100%;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#housing-data {
  margin-top:2em;

  #housing-search {
    border-radius:0;
    max-width:300px;
  }

  #generated-time {
    margin: 0;
  }

  .input {
    &::placeholder {
      color: rgb(68, 68, 68);
    }
  }
}

.columns.housing-columns {
  .column {
    margin:0;
    padding:0;
  }
  margin:0 0 .25em 0;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  border-color: #f1b70e;
  box-shadow: 0 0 0 .125em rgba(26,188,156,.25);
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Transform checkbox anims */
.checkbox {
    height: 17px;
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
    input,
    svg {
        width: 21px;
        height: 21px;
        display: block;
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 var(--s, 2px) var(--b, var(--border));
        &:hover {
            --s: 2px;
            --b: var(--border-hover);
        }
        &:checked {
            --b: var(--border-active);
        }
    }
    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }
    &.path {
        input {
            &:checked {
                --s: 2px;
                transition-delay: .4s;
                & + svg {
                    --a: 16.1 86.12;
                    --o: 102.22;
                }
            }
        }
        svg {
            stroke-dasharray: var(--a, 86.12);
            stroke-dashoffset: var(--o, 86.12);
            transition: stroke-dasharray .6s, stroke-dashoffset .6s;
        }
    }
    &.bounce {
        --stroke: var(--tick);
        input {
            &:checked {
                --s: 11px;
                & + svg {
                    animation: bounce .4s linear forwards .2s;
                }
            }
        }
        svg {
            --scale: 0;
        }
    }
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}