/* Override table tr colour */
.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #343d3d; }

html {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23161616' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #070707; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 24px; }

#navbar-container, #body-container {
  max-width: 960px !important; }

a {
  color: #00B7FF; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }

footer p {
  margin: 5px; }

/* #eclock-card {
  max-width:300px;
  margin:0 auto;
} */
/* Clock transform toggle */
#transformToggle {
  margin-bottom: 0;
  display: block;
  position: absolute;
  top: -2em;
  padding: .75rem 1rem; }

#title2 {
  top: 0.18rem; }

.pr-0 {
  padding-right: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-1 {
  padding-right: 0.25rem !important; }

.pl-1 {
  padding-left: 0.25rem !important; }

.pr-2 {
  padding-right: 0.5rem !important; }

.pl-2 {
  padding-left: 0.5rem !important; }

.pr-4 {
  padding-right: 1rem !important; }

.pl-4 {
  padding-left: 1rem !important; }

.pt-0 {
  padding-top: 0rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.pt-4 {
  padding-top: 1rem !important; }

.mt-4 {
  margin-top: 1rem !important; }

.transform {
  animation: txtColor 5s infinite linear; }

/* Text animation */
@keyframes txtColor {
  12.5% {
    color: #FF0000; }
  25% {
    color: #FFA500; }
  37.5% {
    color: #FFFF00; }
  50% {
    color: #7FFF00; }
  62.5% {
    color: #00FFFF; }
  75% {
    color: #0000FF; }
  87.5% {
    color: #9932CC; }
  100% {
    color: #FF1493; } }

.vcenter {
  vertical-align: middle !important; }

.price {
  color: #ffffda; }

.item-icon {
  max-width: 32px;
  max-height: 32px; }

#housing-data table thead th:first-child {
  width: 64px; }

#housing-data table tbody tr {
  height: 48px;
  /* item-icon+24 */ }

#housing-card {
  height: 147px;
  /* match clock card */ }

/* Popup container - housing */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400%;
  height: 400%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50px;
  margin-left: -80px; }

.popuptext {
  z-index: 1; }

.popuptext img {
  height: 100%; }

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Transform checkbox anims */
.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative; }
  .checkbox input,
  .checkbox svg {
    width: 21px;
    height: 21px;
    display: block; }
  .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border)); }
    .checkbox input:hover {
      --s: 2px;
      --b: var(--border-hover); }
    .checkbox input:checked {
      --b: var(--border-active); }
  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0); }
  .checkbox.path input:checked {
    --s: 2px;
    transition-delay: .4s; }
    .checkbox.path input:checked + svg {
      --a: 16.1 86.12;
      --o: 102.22; }
  .checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray .6s, stroke-dashoffset .6s; }
  .checkbox.bounce {
    --stroke: var(--tick); }
    .checkbox.bounce input:checked {
      --s: 11px; }
      .checkbox.bounce input:checked + svg {
        animation: bounce .4s linear forwards .2s; }
    .checkbox.bounce svg {
      --scale: 0; }

@keyframes bounce {
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
