//- Mabi Pro erinn clock
script(type='text/javascript',src='/javascripts/moment-with-locales.min.js')
script(type='text/javascript',src='/javascripts/moment-timezone-with-data.min.js')
script(type='text/javascript',src='/javascripts/erinn-time.lib.js')
script(type='text/javascript',src='/javascripts/howler.min.js')
script(type='text/javascript',src='/javascripts/eclock.js')
div#transformToggle.transformToggle.field.grid
  label(class='checkbox bounce')
    input#transformSwitch(name='transformSwitch',type='checkbox', checked=(notiToggle === "no" ? '' : 'checked'))
    svg(viewBox='0 0 21 21')
      polyline(points="5 10.75 8.5 14.25 16 6")
  label(for='transformSwitch') &nbsp;Transform Notification
div#eclock-card.card
  header.card-header
    p.card-header-title Erinn Clock
    a#card-header-icon.card-header-icon(href='#').card-toggle
      span.icon
        i.fas.fa-angle-down
  div.card-content
    div.content
      p#eclock.is-size-1.has-text-centered 00:00
  //-footer.card-footer
    //-a.card-footer-item(href='#') Close