- var wikiViewLink = 'https://wiki.mabinogiworld.com/view/'
nav.navbar.is-fixed-top.is-primary(role='navigation').is-family-secondary
  div#navbar-container.container
    div.navbar-brand
      div.navbar-item.is-size-4.is-size-3-desktop
        span.icon
          i.fas.fa-dragon.fa-1x &nbsp;
      span#title1.navbar-item.has-text-weight-bold.is-size-4-desktop.is-size-5 Tooldragon&nbsp;
        span.has-text-warning for Mabi.Pro
      a.navbar-burger(data-target='navMenu',aria-label='menu',aria-expanded='false')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    div#navMenu.navbar-menu
      div.navbar-start
        a(class=(title === "Tooldragon" && "is-active"), href='/').navbar-item Home
        a(class=(title === "Housing" && "is-active"), href='/housing/').navbar-item Housing
        a(class=(title === "Map" && "is-active"), href='/map/').navbar-item Map
        //-a(class=(title === "Info" ? "is-active" : undefined)).navbar-item(href='/info/') Misc Info
      
      div.navbar-end
        div.navbar-item.has-text-warning
          span.icon
            i.fas.fa-star.fa-lg &nbsp;
        a.navbar-item(href='https://pro.mabibase.com/items/search',target='_blank') Pro.MabiBase
        div.navbar-item.has-dropdown.is-hoverable
          a.navbar-link Wiki
          div.navbar-dropdown.is-boxed.is-right
            a.navbar-item(href='http://eotetb.hopto.org:8080/wiki/?Generation_1') Generation 1 guide
            a.navbar-item(href=wikiViewLink+'Spirit_Weapon_Item_List/Sword/Male') Giving to your spirit weapon (sword male)
            a.navbar-item(href=wikiViewLink+'User:Tellos/Mechanics') Game mechanics by Tellos
            a.navbar-item(href=wikiViewLink+'User:Tellos/DungeonList') HM Dungeon &amp; SM EXP by Tellos
          div#nav-wiki-dropdown.dropdown-menu(role='menu')
            div.dropdown-content
              //- Wiki items
              a.dropdown-item
              a.dropdown-item
        //-a.navbar-item(href='#') Login