script(type='text/javascript',src='/javascripts/ptj.js')
//-div#ptj-card.card
  header.card-header
    p.card-header-title Part Time Jobs
    a#card-header-icon.card-header-icon(href='#').card-toggle
      span.icon
        i.fas.fa-angle-down
  div.card-content
    div.content
      div
        p#ptj.is-size-1.has-text-centered.is-capitalized None
        //- .is-family-monospace