//- Housing
extends layout

block content
  div#body-container.container
    script(type='text/javascript',src='/javascripts/housing.js')
    script(type='text/javascript',src='/javascripts/lazysizes.min.js')
    div.columns.is-centered.is-vcentered
      div.column.is-one-third-desktop
        include part/clock

      div.column.is-one-third-desktop.has-text-centered
        div#housing-card.card
          header.card-header
            p.card-header-title Housing Board
            a#card-header-icon.card-header-icon(href='#').card-toggle
              span.icon
                i.fas.fa-angle-down
          div.card-content
            div.content
              button#generateHousing.button.is-warning.is-outlined.is-fullwidth.is-size-5
                span.icon.is-small
                  i.fas.fa-home
                span Generate
    
    section.section#content.card
      div.content
        h1.is-medium.is-size-3-desktop Housing Board
        p.is-medium.is-size-5-desktop.has-text-grey-lighter Provides a cached version of the housing board usable for searching/filtering. Updates server-side every 15 minutes on the hour; you must manually click the 'Refresh' button to update the table data.
        p.is-medium.is-size-5-desktop.has-text-grey-light 
        //-  strong.is-medium.is-size-5-desktop.has-text-grey-light 17/5/21
        //-  |  - There are currently problems obtaining the data from the server, please try again in 10 minutes if the board is empty.
        div#housing-data.table-container
          div.columns.housing-columns.is-centered.is-vcentered
            div.column
              input(type="text",placeholder="Search...")#housing-search.input.is-hidden.is-small
            div.column
              p#generated-time.is-size-6.has-text-grey.has-text-right
          div#housing-table
