//- Index page only
extends layout

block content
  div#body-container.container
    div.columns.is-centered
      div.column.is-one-third-desktop
        include part/clock
      //-div.column.is-one-third-desktop
        include part/ptj
    div
      section.section#content
        div.content
          h1 Welcome Milletian
          p #{desc}
      section.section#features.pt-0
        div.content
          h2 Features
          div.columns.is-multiline
            div.column.is-half-tablet
              article.message
                div.message-header.has-background-primary Erinn Clock
                  span.icon
                    i.fas.fa-clock 
                div.message-body.has-background-grey-dark
                  | This shows the current ingame time of the Mabi.Pro server. It will also
                  | make a notification sound when the clock is roughly 5:40, while displaying
                  | a "Transform" notification on-screen.
            div.column.is-half-tablet
              article.message
                div.message-header.has-background-primary Part time jobs
                  span.icon.has-text-light
                    i.fas.fa-truck-loading
                div.message-body.has-background-grey-dark
                  p 
                    strike
                      | Displays the current part time jobs available. Will eventually colour code
                      | based on when they are expiring. Currently only displays healer and church.
                  p Temporarily disabled.
            div.column.is-half-tablet
              article.message
                div.message-header.has-background-primary Housing
                  span.icon
                    i.fas.fa-code
                div.message-body.has-background-grey-dark
                  | Search the housing board, view the item images, open an item on pro.mabibase and more.
            div.column.is-half-tablet
              article.message
                div.message-header.has-background-primary WIP
                  span.icon
                    i.fas.fa-code
                div.message-body.has-background-grey-dark
                  | More things to come...