//- Housing
extends layout

block content
  div#body-container.container
    div.columns.is-centered
      div.column.is-one-third-desktop
        include part/clock
      //-div.column.is-one-third-desktop
        include part/ptj
    
    section.section#main
      div.content
        h1 Useful information/bookmarks
        p A place to store information/data for Mabinogi.
    section.section#content
      div.content
        h1.has-text-warning.is-size-4 Mabidata: [Guide] Damage ES (Pre-G13)
        p
          a.subtitle.is-5(href='https://mabidata.net/forum/viewtopic.php?t=185') https://mabidata.net/forum/viewtopic.php?t=185
        p This Guide is Mainly on Melee Damage (Str), but it can apply to Archers and Mages alike, since most of the Enchant listed are + Max not + Str. Note the Name of the Enchant May Vary on NA server*

        p What This Guide Will Do:
          ul
            li Tell the Pros of Using Max Damage Enchants
            li List Out Best Max Damage Enchants for Your Equipments
            li List Out Alternative to the Best Equipments
            li List Out Future Best Equipments, and Current Best Equipments
            li Compare the Cloth, Light Armor, Heavy Armor Setup
          
        p What This Guide Wont Do:
         ul
          li List All Possible Combination of Enchants [Too many possibilities]
          li List All Possible Alternative Enchants [Way too many to give]
          li List Out Enchants For Weapons for Damage [Due to Different Attack Style]
          li Give Out the Detail of Each Enchant [Will Be Added Later]
        

        h2 Why use damage enchants?
        p Damage enchants are good to use because they affect almost all skills (Melee, Range, Magic) with the exception to Alchemy. The Damage Enchants also increase your potential damage more than Stats Enchants in most cases where the ratio is 1 Max Damage = 2.5 Str or 2.5 Dex.
        
        
        h2 What are the different setups?
        p [Clothing Setup---] 6 Items total not counting weapons and robe
        ul
          li Pros: Can Equip 2 Accessories, Have the Most Max Damage Gain.
          li Cons: Lowest Defense Stats Out of all 3 Setup, Accessory Can be Expensive to Repair.

        p [Light Armor Setup---] 5 Items total not counting weapons and robe
        ul
          li Pros: Can Equip 1 Accessory, Have the Second Highest Max Damage Gain.
          li Cons: Damage Gained From Enchant can be Very Random.

        p [Heavy Armor Setup---] 4s Items total not counting weapons and robe
        ul
          li Pros: Have the Most Defense Stats and Protection.
          li Cons: No Accessories, Lowest Damage Output of All 3 Setup.
        
        h2 Enchant Breakdown
        p Here's the List of Worthy Enchants By Category. the Generic Enchant Category are enchants basically with no restrictions, you are free to subsitute this to the spots desired, but few has the {Metal} tag which means the item has to be Metallic.
        h3 The generic enchants
        ul
          li
            strong Diamond {Metal} (RB Prefix +6 Max) [+06 MAX]
            p Similar to Corundum but instead -5 LUCK it is -5 WILL. Can be gotten from end chest of any Karu Glowing Dungeon.
          li
            strong Corundum (RB Prefix +6 Max) [+06 MAX]
            p  Good alternative/temporary replacement prefix. Only real down side is the -5 LUCK which give -1% CRIT. Can be gotten from Karu(Any Non-Glowing) middle chest rooms.
          li
            strong Topaz {Metal} (RC Prefix +5 Max) [+05 MAX]
            p Similar to Quartz but instead -5 LUCK it is -5 WILL. Can be gotten from oversea fishing and Karu.
          li
            strong Quartz (RC Prefix +5 Max) [+05 MAX]
            p Ok alternative/temporary replacement prefix. Only real down side is the -5 LUCK which give -1% CRIT. Can be fished up in oversea or Karu(Any Non-Glowing) end chest rooms
          li
            strong Fox (RB Prefix +4 Max) [+04 MAX]
            p Cheap alternative prefix, very average enchant but effective. A down side to this is the randomness of the enchant +1~4 Max.
          li
            strong Fox Hunter (RE Prefix +4 Max) [+04 MAX]
            p Cheap alternative to Fox, very common enchant but effective. This might be slightly better than Fox due to lower enchant rank and more consistant output of +2~4 Max.
          li
            strong Burst Knight {Metal} (RA Suffix +10 Str) [+04 MAX]
            p Alternative suffix give less dmg but have the bonus of explosion resist. The problem with this enchant is that it is too random, +1~10 Str. This can be gotten from volcano wolves.
          li
            strong Wild Boar (RB Suffix +3 Max) [+03 MAX]
            p Alternative to Burst Knight give less dmg but slightly more consistent +1~3 Max.
          li
            strong Giant (RB Suffix +5 Str) [+02 MAX]
            p Simple, common, affordable, but that's really all this enchant will offer. The -15 INT is a drawback, but the +10 HP can be useful. 
        h3 [Helms Enchants] 
        p Similar For All Setup
        p
          strong [Best] Union Gladiator (+8 Max +7 Max) [+15 MAX]
        p.
          As soon as you see the Union Enchant you should have know by now what that means. Yes, it means the Helmet has to be the Dustin Silver Knight Helmet, because Union can only be enchanted on to Dustin Sets. So, what's the downside of Union? Well, one is age restriction 17~20 only, but most free rebirthers have no problem with this. The other downside is that this is a R5 enchant, chance of turning the beloved Dustin to bits is very high. As for Gladiator, it is a R8 Suffix gotten from Joust prize (Will need to burn it out). The problem with Gladiator is to use this, you will have to use the Gladiator title, which means you have to give up the Maiz Title (crucial for Basic/Notion Enchant Users), but luckily it also give +30 Str and in addition +10 Dex so it should be a big problem unless you are a heavy armor user.

          [Other Possible Enchants for Helms]
          Cold (R8 Prefix +7 Max) [+07 MAX]
          Nice alternative replacement enchant available in G10, obtained from shadow mission but R8 may be a bit risky to enchant.
        h3 [Glove Enchants] 
        p Similar For All Setup
        p 
          strong [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
        p.
          The famous Wooden Needle gives a whooping 12 Max damage bonus and 6% CRIT. The only downside is the - 16 Dex, which makes the enchant give a -6 Max to bow damage.
          However, even with that, you are still getting a +6 Max and the +6% CRIT. The only thing that can beat it is Union Dustin Silver Knight Gloves, but then you run into the problem
          that only Human can wear those (Sorry Elves!). One might also consider Victorious Bracelet, but then you wouldn't be able to use Burst Knight (Metallic Item only).

          [Other Possible Enchants for Gloves]
          Union (R5 Prefix +8 Max) [+08 MAX]
          Require Dustin Silver Knight Gloves, Human only, Can be used with Peace Enchant to make it +14 Max.

          Victorious (RC Prefix +6 Max) [+06 MAX]
          As mentioned above, can only be found in Fiodh Inter for 2, comes on bracelet. Using this means you cannot use Burst Knight suffix.

          Maltreat (RD Prefix +5 Max) [+05 MAX]
          Decent +5 Max on any gloves with a -15 HP Effect (Can be good or bad depend on person). Found in Alby Inter For 2.

          Peace (R8 Suffix +15 Str) [+06 MAX]
          Gotten from Ciar Boss Trial End Chest Collection Book Vol.7, can be used with Union, but it is Gauntlets only so cant be used with Wooden Needle =(.
        h3 [Boots Enchants] 
        p Similar For All Setup
        p 
          strong [Best] Fleet Raven (+9 Max +8 Max) [+17 MAX]
        p.
          Fleet is from G11, requires Charge to activate it. The monster drop this is Dullahan. Fleet also give a nice +2% CRIT. The downside of Fleet is the -15 Dex which means -6 Max for the
          bows, so this make it +3 Max instead +9 if you use bow, perhaps Diamond/Corrundum would be a better option if you use bow more often. To make this setup you need Raven boots
          from Solea, which takes luck because of Raven's random stats. If you cannot get Raven, then your best bet would be getting a Dustin Silver Knight Boot for the +8 Union as prefix.

          [Other Possible Enchants for Gloves]
          Union (R5 Prefix +8 Max) [+08 MAX]
          Require Dustin Silver Knigth Boots, Human only, Can be used with Hard Peace Enchant to make it +14 Max.

          Shining (R9 Prefix +4 Max) [+04 MAX]
          +4 Max with a nice Bonus of +4% CRIT, this enchant is like an advanced Fox, only downside is it being a R9 enchant.

          Hard Peaca (R8 Suffix +6 Max) [+06 MAX]
          Gotten from Peaca Basic End Chest (Pain Much?), being R8 makes it a bit hard to encahnt (Limited R9 Stacker on Boots).
        h3 [Accessory Enchants] 
        p Accessory is vital for cloth setup because this give you 4 extra slot of enchant that will essentially out damage the other setups.
        p 
          strong [Best] Stout Earthquake (+20 Str +15 Str) [+14 MAX]
        p.
          This is the best accessory you can get in the future giving you +35 str total. The Eathequake Enchant is from Giant's 20th Birthday Reward from Nao.
          The Stout Enchant is from Runda Basic Hard Mode End Chest in G11. Earthquake is R9 while Stout is RA, neither is that hard to get, it just take a
          bit of luck. This is for Melee obviously, but you can also get the similar set for Dex.

          [Other Possible Enchants]
          Corundum (RB Prefix +6 Max) [+06 MAX]
          Good alternative/temporary replacement for Stout. Only real down side is the -5 LUCK which give -1% CRIT. Can be gotten from Karu(Any Non-Glowing) middle chest rooms.

          Leo (R6 Suffix +10 Str) [+04 MAX]
          Alternative to Earthquake give less dmg but have the bonus of +10 WILL +1 PRO, and +5 HP. A downside to this is R6, cant switch to an Accessory you want. However this is from 20th
          Birthday Reward from Nao for Humans, so is not that big of a deal.
          *Note it is possible to get (+20 Dex +15 Dex) on an accessory, the setup is Nimble Libra, but I wont mention more since this guid is mainly on melee,
        h3 [Body Enchants] 
        p The main part of the guide, different best enchant setup to obtain the best damage.
        h4 [Clothing Body]
        p 
          strong [Best] Extraordinary White Horse (+7 Max +7 Max) [+14 MAX]
        p.
          Extraordinary is from G11 and So is White Horse. Extraordinary is R9, so stacking will be needed. Possible stackers are Calla, Hamster, Fearless, Hidden, and more. Extraordinary is
          dropped from Peaca Normal Endchest, but before you moan, it will also be dropped from G11 Mainstream Peaca Dungeons, so it is not all that difficult.
          White Horse is R7, this mean you will need the usual Golem->Falcon/Mana Witch stacking sequence like for Darkness Enchant. White Horse is dropped from Ciar Advanced for 3 end chest, so is simple enough to get. The activation however is from Animal Taming, which you should have at R9 anyway...if you completed G8. This enchant also increase repair fee by 120%, but that is no big deal on newbie gear's 1 gold repair rate. This enchant also makes the clothing personalized (Not Tradable), but is likely people upgrade their clothing/armor anyway so this is not a huge problem. The only real problem is the randomness +5~7 Max. A plus for the White Horse enchant is that it +20 LUCK similar to Ancient Enchant, but dont need any skills to activate it.

        h4 [Other Possible Enchants]
        p 
          strong Habit (R3 Prefix +20 Str +12 Max) [+20 MAX]
        p.
          Habit, at first sight the +20 MAX should make this enchant the best possible for clothing, however it is not due to few reasons. For one the activation of the +12 Max needs to use the Hungry Title. Make no mistake though, Habit will still out power Extraordinary with the following calculation: [Hungry Title + 12 Max +20 Str = 12 + 8 = +20 Max] versus [+30 Str Title + Extraordinary = +19 Max] It is a difference of 1 Max. And really You don't even need to use the hungry title because any +30 Str title is actually +12 Max itself, and the +20 Str bonus alone beats Extraordinary +7 Max. However, strictly speaking +20 Str is for Melee only, where Extraordinary give raw damage without have to be bonded to a title that give no Str not Dex Bonus. In addition, being R3 Enchant makes enchanting this kinda hard (Need Stage->Fickle->Habit Sequence) and on top of that it needs to be enchanted on to magical clothing which have age restriction which severely limits the choices. So it is not consider better than Extraordinary to me for that 1 Max damage.
        p
          strong Victorious (RC +6 Max) [+06 MAX]
        p.
          Good old Victorious, easy to get, decent damage output, not hard to enchant make this worthy to be mentioned.
        p
          strong Black Horse (R8 +6 Max) [+06 MAX]
        p.
          This is the weaker version of the White Horse, it requires R7 Animal Taming to Activate and is +3~6 Max with 50% repair increase and only +15 LUCK. This will not make the clothing personalized, but the only problem is no one knows where to obtain this enchant despite it's been out.

        h4 [Light Armor Body]
        p
          strong [Best] Ancient Darkness (+12 Max +15 Max) [+27 MAX]
        p.
          I don't think I have to say much for this setup, if you are using light armor, this must be what you are trying to get, or at least I hope this is what you are trying to get. I wont even bother to mention the other setups because this is the ideal setup, any other setup wont even be close compare to this. The major downside to this setup is the randomness. Ancient is +6~12 while Darkness is +5~15, in the worse case you will only be getting a +11 out of this in addition to Ancient blowing your armor to bits.
        h4 [Heavy Armor Body]
        p
          strong [Best] Notion Avenger (+19 Max +20 Max) [+39 MAX]*With Potion Poison State
        p.
          Do not let the +39 Max fool you, this setup with +39 is accounting for potion poisoning. Problem with this is this setup also require the use of Maiz Title. Here is the breakdown:
          [Notion(+5 Str, +14 Max, +5 Max when Using Maiz Title) + Avenger (+12 Max, +20 Str when posion poisoned)], so really this is a +31 Max setup. Notion is a Major Upgrade from
          Basic and will be available in G11 and found in Snow Flake Par, but make your armor personalized (Although this shouldnt be a problem, since most ppl upgrade armors).
          Avenger....is a pain to enchant being the only R2 Enchant. I know many people dont like avenger, but it is the best damage enchant for heavy armor even if you are not poisoned
          (is kinda hard to beat +12 Max and no stacking required).
        p
          strong [Other Possible Enchants for Heavy Armors]
        p
          strong Basic (R6 Prefix +?????) [+??????]
        p.
          Errr...+?????. Yeah this is because this enchant can be used with 2 Titles, and depending on which title, you will get differe bonus. The biggest problem with this is which title to use? Combat Master Title will get +15 Max +5 Str which is +17, while the Maiz Title will get +5 Max +5 Str. It would seem that one should obviously use the Combat Master Title, except that Combat Master Title only get +10 Str Bonus while Maiz Title get a +30 Str. When all is considered Combat Master will indeed be better except that the Light Armor/Clothing setup dont have Title restriction which can allow them to use either Maiz or Galdiator title, whereas Basic users are bounded to the Combat Master Title. This also means you cant use the Union Gladiator Setup because of the title. Hence, this is the reason why one should definitely use Notion over Basic when it is possible.
        p
          strong Otter (R9 Suffix +20 Str) [+08 MAX]
        p Decent enchant, takes Animal Taming to activate, with +2% Protection Bonus.
        p
          strong Oak Tree (R7 Suffix +6 Max) [+06 MAX]
        p Okay enchant, what make it worthy is it +6 Def really, but other than that, it is very subpar compare to Avenger.
        
        h3 Best Setup
        p
          strong [Clothing Best Setup] Future
        ul
          li Equip Gladiator Title (+30 Str) [+12 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Stout Earthquake (+20 Str +15 Str) [+14 MAX]
          li [Best] Stout Earthquake (+20 Str +15 Str) [+14 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Gladiator (+8 Max +7 Max) [+15 MAX]
          li [Best] Fleet Raven (+9 Max +8 Max) [+17 MAX]
          li [Best] Extraordinary White Horse (+7 Max +7 Max) [+14 MAX]
          li Total: [+221 MAX]
        p
          strong [Light Armor Setup] Future
        ul
          li Equip Gladiator Title (+30 Str) [+12 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Stout Earthquake (+20 Str +15 Str) [+14 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Gladiator (+8 Max +7 Max) [+15 MAX]
          li [Best] Fleet Raven (+9 Max +8 Max) [+17 MAX]
          li [Best] Ancient Darkness (+12 Max +15 Max) [+27 MAX]
          li Total: [+220 MAX]
        p
          strong [Heavy Armor Setup] Future
        ul
          li Equip Gladiator Title (+30 Str) [+12 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Gladiator (+8 Max +7 Max) [+15 MAX]
          li [Best] Fleet Raven (+9 Max +8 Max) [+17 MAX]
          li [Best] Notion Avenger (+19 Max +20 Max) [+39 MAX] *With Potion Poison State
          li Total: [+218 MAX] *With Potion Poison State
          li [+210 MAX] *Without Potion Poison State

        p
          strong [Clothing Best Setup] Current
        ul
          li Equip Hungry Title (+0 Str) [+00 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Corundum Earthquake (+6 Max +15 Str) [+12 MAX]
          li [Best] Corundum Earthquake (+20 Str +15 Str) [+12 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Burst Knight (+8 Max +4 Max) [+12 MAX]
          li [Best] Diamond Raven (+6 Max +8 Max) [+14 MAX]
          li [Best] Habit Giant (+20 Max +2 Max) [+22 MAX]
          li Total: [+207 MAX]
        p
          strong [Light Armor Setup] Current
        ul
          li Equip Maiz Title (+30 Str) [+12 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Corundum Earthquake (+20 Str +15 Str) [+12 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Burst Knight (+8 Max +4 Max) [+12 MAX]
          li [Best] Diamond Raven (+6 Max +8 Max) [+14 MAX]
          li [Best] Ancient Darkness (+12 Max +15 Max) [+27 MAX]
          li Total: [+212 MAX]
        p
          strong Heavy Armor Setup] Current
        ul
          li Equip Combat Master Title (+10 Str) [+04 MAX]
          li Base Str 200 (+200 Str) [+80 MAX]
          li Food Gain Str 100 (+100 Str) [+40 MAX]
          li [Best] Wooden Needle Burst Knight (+12 Max + 10 Str) [+15 MAX]
          li [Best] Union Burst Knight (+8 Max +4 Max) [+12 MAX]
          li [Best] Diamond Raven (+6 Max +8 Max) [+14 MAX]
          li [Best] Basic Avenger (+17 Max +20 Max) [+37 MAX] *With Potion Poison State
          li Total: [+202 MAX] *With Potion Poison State
          li [+194 MAX] *Without Potion Poison State
        
        h3 Other factors
        ul
          li G12S1: Holy Fire +8 Max Possible on Each Item [No Robe/Weapons]
          li Clothing Bonus: [+48 MAX]
          li Total: [+221 MAX]
          li Final: [+269 MAX]
        ul
          li Light Armor Bonus: [+40 MAX]
          li Total: [+220 MAX]
          li Final: [+260 MAX]
        ul
          li Heavy Armor Bonus: [+32 MAX]
          li Total: [+220 MAX]
          li Final: [+252 MAX]
        
        h3 Conclusion
        p From the data it is clear that Clothing will have a signifcant boost in the future due to the Holy Fire and increased suffix enchant in increaing damage. 
        p The Light Armor series will still be outputting decent damage while it is the best now. 
        p Heavy Armor will get a nice boost from Notion (Maiz is Crucial) providing the most protection. 
        p In general, all 3 setups are very close (within in ~10Max), there isn't really which one is better than the other, but more of what you yourself want to use more. But from the guid it should be clear that breaking 400 Max is very possible and the very limit of non trans damage might be at around 500 (with 2hander ego's 200 some damage). 
        p There are also many other enchants I didnt mention (e.g. Sacrificial) but I think this list enough to give people an idea of what "damage whoring" is like.