//- Main layout page, for every page
doctype html
html.has-navbar-fixed-top
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(property='og:title',content='Tooldragon for Mabi.Pro')
    meta(property='og:description',content='Tools and useful links for Mabinogi Pro including a live housing board available for item searching.')
    meta(property='og:type',content='website')
    meta(property='og:url',content='https://tooldragon.xyz')
    meta(property='og:image',content='/images/pexels-ryutaro-tsukata-5745009.jpg')
    link(rel='stylesheet', href='/stylesheets/bulmaswatch.darkly.min.css')
    //- Font Awesome
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    include part/navbar
    block content
  footer
    //- Font Awesome
    script(type='text/javascript',src='/javascripts/navbar.js')
    script(type='text/javascript',src='/javascripts/all.min.js')
    p.is-size-7.has-text-dark Created by RIDAI
