//- Map(s)
extends layout

block content
  //-div#body-container.container
  div#maptabs.tabs.is-centered.is-large
    ul
      li.is-active
        a Uladh
      li
        a
          strike Iria
  div
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/map.page.css')
    script(type='text/javascript',src='/javascripts/leaflet.js')
    script(type='text/javascript',src='/javascripts/map.page.js')
    div#umap.map